.button {
  background: navy;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover,
.button:active {
  background: rgb(0,0,192);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
